logs/
project/project
project/target
target
tmp
.history
dist
/out
.idea_modules
.idea
.idea*/
*.iml
.classpath
.settings
*.swp
*.rej
*.orig
.DS_Store
*.log
._*
hg-checkexec-*
*.zip
*.rar
*.gz
node_modules/
app-2.11/
*_jb_tmp_*
.bsp
